html, body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

img{
    width: 100%;
    max-width: 100%;
}

.loader {
    position: fixed;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-top: 50%;
    width: 100%;
    text-align: center;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop5{
    margin-top: 5px;
}

.loader img{
    width: 100px;
    margin: 0 auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (max-width: 980px){
    .container {
        width: 90%;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-6 {
    width: 50%;
}

.form-group {
    margin-bottom: 15px;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {


}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
    padding-left: 15px;

}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #ff4d58;
    padding-left: 15px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding: 15px 10px 15px 20px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ff4d59;
    color: #ff4d59;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.text-right{
    text-align: right;
}

.bs-example>.btn, .bs-example>.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-default {
    color: #FFF;
    background-color: #ff4d58;
    border-color: #ff4d58;
}

.btn-facebook {
    background: #3765a3;
    border-color: #3765a3;
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}

.alert-danger {
    color: #ff4d58;
    background-color: #ffc9cd;
    border-color: #ffc9cd;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/

.logo{
    text-align: center;
    margin-top: 50px;
}

section.formLogin {
    margin: 50px 0 0 0;
}

.iconeMenu {
    font-size: 30px;
    color: #ff4d59;
    padding: 20px 0 0 0;
}

.sectionDescontoEmQue {
    margin: 50px 0 0 0;
}

.sectionDescontoEmQue select, .sectionDescontoEmQue input {
    border-color: #ff4d59;
    color: inherit;
}

.boxIconesHome {
    margin-top: 50px;
    color: #ff4d59;
    font-size: 14px;
}

.menu {
    width: 80%;
    background: #ff4d58;
    padding: 10px 0 0 0;
    position: absolute;
    box-shadow: 5px 0px 10px -2px #676666;
    z-index: 999;
}

.imagemMenu {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 100px;
}
    
.menuMenu li {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #FFF;
}

.menuMenu li:first-child {
    border-top: 1px solid #ccc;
}

.menuMenu {
    margin: 20px 0 0 0;
}

.nomeMenu {
    padding-top: 15px;
    color: #FFF;
}

.closeMenu {
    color: #FFF;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.fimMenu {
    background: #b74152;
    padding: 10px 0 20px 0;
}

.title2FimMenu {
    padding: 0;
}

.title2FimMenu span {
    display: block;
}

.iconFimMenu {
    font-size: 25px;
    padding: 0;
}

.boxAbaixoFimMenu {
    margin: 10px 0 0 0;
    color: #fff;
}

.title1FimMenu{
    color: #fff;
}

.noPadding{
    padding: 0 !important;
}

.barraTopoAll {
    background: #ff4d59;
    padding: 10px 0;
    color: #fff;
    box-shadow: 0px -10px 10px 10px black;
    margin-bottom: 15px;
}

.barraTopoAll i {
    margin: 3px 0 0 0;
}

.tituloAllCategoria{
    padding: 40px 0 0 0;
}

.rowAllCategoria {
    border-bottom: 1px solid #ff4d59;
    width: 90%;
    margin: 0 auto;
}

.logoEsqueciSenha {
    margin: 50px 0 0 0;
    text-align: center;
}

.logoEsqueciSenha img {
    width: 250px;
}

.colorDefault {
    color: #ff4d59;
}

.formEsqueciSenha {
    margin: 50px 0 0 0;
}

.titleCadastro {
    color: #ff4d59;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.titleCadastroWithoutBorder{
    color: #ff4d59;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.marginTopo {
    margin-top: 30px;
}

.itemComoFunciona {
    color: #636363;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

.logoEcard img {
    width: 250px;
}

.logoEcard {
    border-bottom: 1px solid #ff4d58;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.textoCompraEcard {
    margin: 50px 0 0 0;
}

.textoCompraEcard span {
    display: block;
    margin-bottom: 20px;
    color: #ff4d59;
}

.textoCompraEcard span:last-child {
    margin-bottom: 0px;
}

.btnsComprarEcard {
    margin: 50px 0 20px 0;
}

.logoConfirmaEmail{
    margin-top: 30px;
}

.textoConfirmaEmail {
    margin: 50px 0 0 0;
    color: #ff4d59;
}

.textoConfirmaEmail span{
    display: block;
}

.btnConfirmaEmail {
    margin-top: 50px;
}

.logosSocial {
    background: url(../content/images/logosSocial.jpg) no-repeat;
    height: 50px;
    background-size: cover;
}

.logosConvidarAmigos {
    margin-top: 20px;
}

.textoLogoConvidarAmigos{
    padding-top: 13px;
}

.logoGmail {
    background-position: 0 -3%;
}

.logoMensagem {
    background-position: 0 17%;
}

.logoFacebook {
    background-position: 0 59%;
}

.logoWhatsapp {
    background-position: 0 81%;
}

.logoMais {
    background-position: 0 100%;
}

.titleQuantoSalvei span {
    display: block;
}

.titleQuantoSalvei {
    color: #636363;
    border-bottom: 1px solid #ff4d59;
    padding-bottom: 20px;
}

.titleQuantoSalvei .colorDefault {
    font-size: 30px;
}

.titleCardQuantoSalvei {
    font-size: 25px;
    color: #ff4d59;
    font-weight: bold;
}

.subTitleCardQuantoSalvei {
    color: #ff4d59;
}

.btnQuantoSalvei {
    background: #ff4d59;
    font-size: 15px;
    padding: 5px;
    color: white;
}

.boxQuantoSalvei {
    margin: 18px 0 0 0;
}

.boxRowQuantoSalvei {
    border: 2px solid #ff4d59;
    border-radius: 10px;
    padding: 15px 0 5px 0;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px -2px #000;
}

.boxRowQuantoSalvei:last-child {
    margin-bottom: 0px;
}

.itemContratoEcard span{
    color: #ff4d59;
}

.infoEcard span {
    display: block;
    margin-bottom: 10px;
}

.titleEcard {
    font-size: 23px;
    margin: -4px 0 0 0;
}

.itemContratoEcard {
    margin-bottom: 20px;
}

.itemContratoEcard:last-child {
    margin-bottom: 0px;
}

.logoDefault {
    text-align: center;
    margin: 30px 0 20px 0;
}

.logoDefault img{
    width: 250px;
}

.fontSize13{
    font-size: 13px;
}

.bordaBottom {
    border: 1px solid #f28a99;
}

.iconePagamento {
    text-align: center;
    margin-bottom: 30px;
}

.iconePagamento:last-child {
    margin-bottom: 0px;
}

.iconePagamento img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.iconePagamento {
    text-align: center;
}

.iconePagamento label{
    padding-left: 0px;
}

h2 {
    margin: 10px 0px;
    padding: 0;
}

.fontSize16 {
    font-size: 16px;
}

.modalParcela {
    width: 100%;
    float: left;
    position: absolute;
    background: rgba(255, 77, 88, 0.5);
    height: 100%;
    padding-top: 30%;
    z-index: 999;
}

.modalParcela span{
    color: #000;
}

.modalBody {
    background: #fff;
    padding: 15px 0 10px 0;
    width: 90%;
    margin: 0 auto;
}

.itemModalParcela {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.textoConfirmaEmailEcard {
    margin: 20px 0 0 0;
    text-align: center;
    color: #ff4d59;
}

.textoConfirmaEmailEcard span {
    display: block;
}

.alertDebito i {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    color: #ff4d58;
}

.alertDebito {
    color: #ff4d58;
    text-align: center;
    font-size: 13px;
    background: #ffc9cd;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #ff4d58;
    font-weight: bold;
}

.marginTop{
    margin-top: 10px;
}