﻿<div ng-if="boxEsqueciSenha">
	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="showBoxHome()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Recuperação de senha</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="logoEsqueciSenha">
			<img src="content/images/logo.jpg">
		</div>
	</section>

	<section>

		<div class="container">

			<div class="text-center colorDefault">
				<p>Olá!</p>
				<p>Poxa que pena que esqueceu sua senha, mas não se preocupe, estamos aqui pra te ajudar, vamos lá?</p>
			</div>

			<div class="text-center colorDefault">
				<p>Digite o e-mail que você usou no seu cadastro no campo indicado abaixo, depois toque no botão enviar e em alguns minutos você receberá um e-mail para redefinir sua senha.</p>
				<p>Simples e fácil!</p>
			</div>

		</div>

	</section>

	<section class="formEsqueciSenha">

		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>E-mail</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block">ENVIAR</span>
				</div>
				<div class="col-xs-12 form-group text-center" ng-click="showBoxHome()">
					<span>CANCELAR</span>
				</div>
			</div>
		</div>

	</section>

</div>

<div ng-if="boxHome">
	<section>
		<div class="container">
			<div class="logo">
				<img src="content/images/logo.jpg">
			</div>
		</div>
	</section>

	<section class="formLogin">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 form-group">
					<label>E-mail</label>
					<input type="text" ng-model="login.email" class="form-control">
				</div>

			</div>
			<div class="row">

				<div class="col-xs-12 form-group">
					<label>Senha</label>
					<input type="password" ng-model="login.senha" class="form-control">
				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 form-group text-center" ng-click="showBoxEsqueciSenha()">
					<label>Esqueci minha senha</label>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goHome()">ENTRAR</span>
				</div>
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-facebook btn-block">LOGAR PELO FACEBOOK</span>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 form-group text-center" ng-click="goCadastro1()">
					<label>Fazer meu cadastro</label>
				</div>

			</div>

		</div>	

	</section>
</div>
