<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Esquina</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="content/css/select2.css" rel="stylesheet">
    <link href="content/css/colorpicker.css" rel="stylesheet">
    <link href="content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->


    <!-- tools jquery -->


    <script src="scripts/angular/angular-ui-router.js"></script>
    <script src="scripts/angular/angular-validator.js"></script>
    <script src="scripts/angular/angular-local-storage.js"></script>


    <!-- Angular App Script -->
    <script src="app/app.js"></script>
    <script src="app/app.core.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.config.routes.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/app.settings.js"></script>

    <!-- tools js -->
    <script src="content/js/jquery.js"></script>
    <script src="content/js/mask.js"></script>
    <script src="content/js/tinyColor.js"></script>
    <script src="content/js/mask-jquery.js"></script>
    <script src="content/js/select2.js"></script>
    <!-- toos angular -->
    <script src="content/js/angular-colorpicker.js"></script>
    <script src="content/js/angular-locale.js"></script>
    <script src="content/js/angular-ui-bootstrap.js"></script>

    <!-- controllers -->
    <script src="app/modules/login/login.controller.js"></script>
    <script src="app/modules/home/home.controller.js"></script>
    <script src="app/modules/cadastro/cadastro.controller.js"></script>
    <script src="app/modules/comoFunciona/comoFunciona.controller.js"></script>
    <script src="app/modules/comprarEcard/comprarEcard.controller.js"></script>
    <script src="app/modules/cadastro1/cadastro1.controller.js"></script>
    <script src="app/modules/cadastroConfirmaEmail/cadastroConfirmaEmail.controller.js"></script>
    <script src="app/modules/faq/faq.controller.js"></script>
    <script src="app/modules/comprarEcardDados/comprarEcardDados.controller.js"></script>
    <script src="app/modules/comprarEcardEndereco/comprarEcardEndereco.controller.js"></script>
    <script src="app/modules/comprarEcardPagamento/comprarEcardPagamento.controller.js"></script>
    <script src="app/modules/comprarEcardPagamentoCreditoFinalizada/comprarEcardPagamentoCreditoFinalizada.controller.js"></script>
    <script src="app/modules/comprarEcardPagamentoCredito/comprarEcardPagamentoCredito.controller.js"></script>
    <script src="app/modules/convidarAmigos/convidarAmigos.controller.js"></script>
    <script src="app/modules/quantoSalvei/quantoSalvei.controller.js"></script>
    <script src="app/modules/comprarEcardPagamentoDebito/comprarEcardPagamentoDebito.controller.js"></script>
    <script src="app/modules/comprarEcardPagamentoDebitoFinalizada/comprarEcardPagamentoDebitoFinalizada.controller.js"></script>
    <!-- services -->

    <script type="text/javascript" src="app/directives/mask-money.directive.js"></script>

  </head>
  <body ng-app="app">
    <div class="loader" ng-if="loader">
        <img src="content/images/loader.gif">
    </div>
    <div ui-view=""></div>
  </body>
</html>
