﻿<section class="modalParcela" ng-if="parcelas">

		<div class="container">

			<div class="row modalBody">
				<div class="col-xs-12 form-group" ng-click="closeParcelas()">
					<div class="itemModalParcela">
						<b><span>1x de R$ 150,00</span></b>
					</div>
				</div>
				<div class="col-xs-12 form-group" ng-click="closeParcelas()">
					<div class="itemModalParcela">
						<b><span>2x de R$ 75,00</span></b>
					</div>
				</div>
				<div class="col-xs-12 form-group" ng-click="closeParcelas()">
					<div class="itemModalParcela">
						<b><span>3x de R$ 50,00</span></b>
					</div>
				</div>
			</div>

		</div>

	</section>
	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goComprarEcardPagamento()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Comprar E-card</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="logoDefault">
			<img src="content/images/logoEcard.jpg">
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger text-center">
						PAGAMENTO
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center colorDefault">
					<span class="fontSize16">CARTÃO DE CRÉDITO</span>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center colorDefault">
					<span class="fontSize16">Assinatura anual do E-card</span>
					<b><h2>R$ 30,00</h2></b>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center colorDefault fontSize13">
					<b>Todos os campos são obrigatórios</b>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Número do cartão</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Nome impresso no cartão</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Código de segurança. CVV</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Validade do cartão</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Código de desconto</label>
					<input type="text" class="form-control">
					<small class="colorDefault">Caso tenha algum código para receber desconto
						na sua compra do E-card, por favor insira aqui</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Parcelas</label>
					<input type="text" class="form-control" readonly ng-click="showParcelas()">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row marginTop20">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goCompraFinalizadaCredito()"><i class="fa fa-lock"></i> FINALIZAR COMPRA</span>
				</div>
				<div class="col-xs-12 form-group text-center" ng-click="goHome()">
					<span>COMPRAR DEPOIS</span>
				</div>
			</div>
		</div>
	</section>