<section>

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goLogin()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Confirmação de email</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section>

	<div class="container">

		<div class="textoConfirmaEmail text-justify">
			<span>Seu cadastro foi bem-sucedido, mas você deve confirmar seu e-mail antes de poder fazer login, 
				Por favor, verifique seu e-mail e clique no link informado.</span>
		</div>

	</div>

</section>

<section class="btnConfirmaEmail">

	<div class="container text-center">

		<span class="btn btn-default btn-block">ABRIR E-MAIL</span>

	</div>

</section>