﻿	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goHome()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>FAQ</span>
					</div>
				</div>
			</div>
		</div>

		<div class="marginTopo">

			<div class="container">
				<div class="row itemComoFunciona">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2">
								<i class="fa fa-chevron-down"></i>
							</div>
							<div class="col-xs-10">
								Como busco um desconto
							</div>
						</div>
					</div>
				</div>
				<div class="row itemComoFunciona">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2">
								<i class="fa fa-chevron-down"></i>
							</div>
							<div class="col-xs-10">
								Como vejo uma programação
							</div>
						</div>
					</div>
				</div>
				<div class="row itemComoFunciona">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2">
								<i class="fa fa-chevron-down"></i>
							</div>
							<div class="col-xs-10">
								Como uso meu E-card
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>