﻿<section ng-if="boxAllCategorias">

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goHome()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Todas as categorias</span>
				</div>
			</div>
		</div>
	</div>

	<div class="allCategorias">

		<div class="container">
			<div class="row rowAllCategoria">
				<div class="col-xs-4 noPadding">
					<img src="content/images/logoHome1.jpg">
				</div>
				<div class="col-xs-8 tituloAllCategoria">
					Beleza e Estética
				</div>
			</div>	
		</div>

	</div>

</section>

<section class="menu" ng-if="menu">
	<div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3">
					<div class="imagemMenu"></div>
				</div>
				<div class="col-xs-9 nomeMenu">
					<span>Felipe Furlan</span>
				</div>
			</div>
		</div>
	</div>

	<div class="menuMenu">
		<ul>
			<li ng-click="closeMenu()"><span>Início</span></li>
			<li ng-click="goComoFunciona()"><span>Como Funciona</span></li>
			<li ng-click="goComprarEcard()"><span>Comprar E-card</span></li>
			<li ng-click="goQuantoSalvei()"><span>Quanto salvei</span></li>
			<li ng-click="goConvidarAmigos()"><span>Convidar amigos</span></li>
			<li><span>Contato</span></li>
			<li ng-click="goFaq()"><span>FAQ</span></li>
			<li><span>Login/Logout</span></li>
		</ul>
	</div>

	<div class="fimMenu">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 title1FimMenu">
					<span>Mudar minha localização</span>
				</div>
			</div>
			<div class="row boxAbaixoFimMenu">
				<div class="col-xs-2 iconFimMenu">
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="col-xs-10 title2FimMenu">
					<span>Rio de Janeiro</span>
					<span>Ilha do Governador</span>
				</div>
			</div>
		</div>
	</div>

</section>

<div ng-if="boxHome">
	<section class="iconeMenu">

		<div class="container">
			<div>
				<i class="fa fa-navicon" ng-click="showMenu()"></i>
			</div>
		</div>

	</section>

	<section>
		<div class="container">
			<div class="logo">
				<img src="content/images/logo.jpg">
			</div>
		</div>
	</section>

	<section class="sectionDescontoEmQue">

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<select class="form-control">
						<option>Beleza e estética</option>
						<option>Buffets</option>
						<option>Esportes e Academias</option>
					</select>
				</div>
			</div>
		</div>

	</section>

	<section class="boxIconesHome">


		<div class="container">

			<div class="row">

				<div class="col-xs-4 text-center form-group">
					<div>
						<img src="content/images/logoHome1.jpg">
					</div>
					<div>
						<span>Beleza e Estética</span>
					</div>
				</div>
				<div class="col-xs-4 text-center form-group">
					<div>
						<img src="content/images/logoHome2.jpg">
					</div>
					<div>
						<span>Buffets</span>
					</div>
				</div>
				<div class="col-xs-4 text-center form-group">
					<div>
						<img src="content/images/logoHome3.jpg">
					</div>
					<div>
						<span>Esportes e Academias</span>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-4 text-center form-group">
					<div>
						<img src="content/images/logoHome4.jpg">
					</div>
					<div>
						<span>Farmácias</span>
					</div>
				</div>
				<div class="col-xs-4 text-center form-group">
					<div>
						<img src="content/images/logoHome5.jpg">
					</div>
					<div>
						<span>Gastronomia</span>
					</div>
				</div>
				<div class="col-xs-4 text-center form-group" ng-click="openAllCategorias()">
					<div>
						<img src="content/images/logoHome6.jpg">
					</div>
					<div>
						<span>Ver todas</span>
					</div>
				</div>

			</div>

		</div>

	</section>
</div>