	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goLogin()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Tipo de Cadastro</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="text-center titleCadastroWithoutBorder">
			Você está se cadastrando como:
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goCadastro()">USUÁRIO</span>
				</div>
				<div class="col-xs-12 marginTop form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goCadastroEstabelecimento()">
						ESTABELECIMENTO
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 marginTop form-group text-center" ng-click="goLogin()">
					<span>CANCELAR</span>
				</div>
			</div>
		</div>

	</section>