﻿<section>

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goComprarEcardPagamentoCredito()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Compra confirmada</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="container">
		<div class="logoConfirmaEmail">
			<img src="content/images/logo.jpg">
		</div>
	</div>
</section>

<section>

	<div class="container">

		<div class="textoConfirmaEmail text-center">
			<span>Oba!</span>
			<span>A compra do seu e-card foi</span>
			<span>feita com sucesso!</span>
			<br>
			<span>Agora você pode usufruir</span>
			<span>de todas as vantagens que só</span>
			<span>quem é associado Esquina tem</span>
		</div>

	</div>

</section>

<section class="btnConfirmaEmail">

	<div class="container text-center">

		<span class="btn btn-default btn-block" ng-click="">VER E-CARD</span>

	</div>

</section>