	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goCadastro1()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Cadastro</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="text-center titleCadastro">
			Todos os campos são obrigatórios
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Nome</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Sobrenome</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>E-mail</label>
					<input type="email" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Senha</label>
					<input type="password" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Confirme a senha</label>
					<input type="password" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label><b>Você deve aceitar os termos e permitir saber sua localização</b></label>
				</div>
				<div class="col-xs-12 form-group">
					<label>
						<input type="checkbox">
						Concordo com os termos de uso do Esquina
					</label>
				</div>
				<div class="col-xs-12 form-group">
					<label>
						<input type="checkbox">
						Permito saber minha localização
					</label>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goCadastroConfirmaEmail()">CRIAR CONTA</span>
				</div>
				<div class="col-xs-12 form-group text-center" ng-click="goCadastro1()">
					<span>VOLTAR</span>
				</div>
			</div>
		</div>

	</section>