<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goLogin()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Comprar E-card</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="logoDefault">
			<img src="../content/images/logoEcard.jpg">
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger text-center">
						PAGAMENTO
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center colorDefault">
					<span class="fontSize16">DÉBITO EM CONTA</span>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center colorDefault">
					<span class="fontSize16">Assinatura anual do E-card</span>
					<b><h2>R$ 30,00</h2></b>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center colorDefault fontSize13">
					<b>Todos os campos são obrigatórios</b>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group">
					<div class="alertDebito">
						<i class="fa fa-info-circle"></i>
						<span>Observação: se você optar pelo débito em conta, a confirmação da compra pode demorar
						 até 6 dias úteis, pois ela depende da confirmação do banco.
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Número do titular da conta</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Sobrenome do titular da conta</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>CPF do titular da conta</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Nome do banco</label>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row marginTop20">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block"><i class="fa fa-lock"></i> FINALIZAR COMPRA</span>
				</div>
			</div>
		</div>

	</section>
</body>
</html>