<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goLogin()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Comprar E-card</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="logoDefault">
			<img src="../content/images/logoEcard.jpg">
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger text-center">
						PAGAMENTO
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center colorDefault fontSize13">
					<b>Escolha uma forma de pagamento</b>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row iconePagamento">
				<div class="col-xs-12 form-group">
					<img src="../content/images/iconePagamento1.jpg">
					<label>Cartão de crédito</label>
				</div>
			</div>
			<div class="row iconePagamento">
				<div class="col-xs-12 form-group">
					<img src="../content/images/iconePagamento2.jpg">
					<label>Débito em conta</label>
				</div>
			</div>
			<div class="row iconePagamento">
				<div class="col-xs-12 form-group">
					<img src="../content/images/iconePagamento3.jpg">
					<label>Boleto bancário</label>
				</div>
			</div>
		</div>
	</section>

</body>
</html>

