﻿<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
<section>

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goHome()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Confirmação de email</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="container">
		<div class="logoConfirmaEmail">
			<img src="../content/images/logo.jpg">
		</div>
	</div>
</section>

<section>

	<div class="container">

		<div class="textoConfirmaEmail">
			<span>Olá Rodrigo!</span>
			<span>Seu e-mail foi confirmado com sucesso.</span>
			<span>Agora você faz parte do maior e único clube</span>
			<span>do cotidiano do Rio</span>
		</div>

	</div>

</section>

<section class="btnConfirmaEmail">

	<div class="container text-center">

		<span class="btn btn-default btn-block">INICIAR</span>

	</div>

</section>


</body>
</html>