<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goHome()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Contrato e-card e Termos de...</span>
					</div>
				</div>
			</div>
		</div>

		<div class="marginTopo">

			<div class="container-fluid itemContratoEcard">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2">
								<i class="fa fa-chevron-down"></i>
							</div>
							<div class="col-xs-10 titleEcard">
								<span><b>Contrato e-card</b></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row marginTop5 infoEcard">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-10">
						<span>Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada. Pra lá , depois divoltis porris, paradis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimiss.
						</span>
						<span>
							Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. in elementis mé pra quem é amistosis quis leo.
						</span>
						<span>
							Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Quem num gosti di mum que vai caçá sua turmis! Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Casamentiss faiz malandris se pirulitá.
						</span>
					</div>
				</div>
			</div>

			<div class="container-fluid itemContratoEcard">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2">
								<i class="fa fa-chevron-down"></i>
							</div>
							<div class="col-xs-10 titleEcard">
								<span><b>Termos de uso</b></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row marginTop5 infoEcard">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-10">
						<span>
							Viva Forevis aptent taciti sociosqu ad litora torquent Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Delegadis gente finis, bibendum egestas augue arcu ut est. undefined
						</span>
						<span>
							Quem num gosta di mé, boa gente num é. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Paisis, filhis, espiritis santis. Atirei o pau no gatis, per gatis num morreus.
						</span>
						<span>
							Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Leite de capivaris, leite de mula manquis. Per aumento de cachacis, eu reclamis. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
						</span>
					</div>
				</div>
			</div>

		</div>

	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block">CONCORDO</span>
				</div>
				<div class="col-xs-12 form-group text-center">
					<span>NÃO CONCORDO</span>
				</div>
			</div>
		</div>

	</section>

</body>
</html>