﻿<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
<section>

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goHome()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Convidar amigos</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="logosConvidarAmigos">

	<div class="container">

		<div class="row">
			<div class="col-xs-12 form-group">
				<div class="row">
					<div class="col-xs-2 noPadding">
						<div class="logosSocial logoGmail"></div>
					</div>
					<div class="col-xs-10 textoLogoConvidarAmigos">
						<span>Gmail</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-group">
				<div class="row">
					<div class="col-xs-2 noPadding">
						<div class="logosSocial logoMensagem"></div>
					</div>
					<div class="col-xs-10 textoLogoConvidarAmigos">
						<span>Mensagem</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-group">
				<div class="row">
					<div class="col-xs-2 noPadding">
						<div class="logosSocial logoFacebook"></div>
					</div>
					<div class="col-xs-10 textoLogoConvidarAmigos">
						<span>Facebook</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-group">
				<div class="row">
					<div class="col-xs-2 noPadding">
						<div class="logosSocial logoWhatsapp"></div>
					</div>
					<div class="col-xs-10 textoLogoConvidarAmigos">
						<span>Whatsapp</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-group">
				<div class="row">
					<div class="col-xs-2 noPadding">
						<div class="logosSocial logoMais"></div>
					</div>
					<div class="col-xs-10 textoLogoConvidarAmigos">
						<span>Mais</span>
					</div>
				</div>
			</div>
		</div>


	</div>

</section>


</body>
</html>