<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="../content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>

	<section>
		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goHome()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Quanto salvei</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="marginTopo">
			<div class="text-center titleQuantoSalvei">
				<span>Total salvo com o Esquina:</span>
				<span class="colorDefault">R$ 520,00</span>
			</div>
		</div>
	</section>

	<section>
		<div class="marginTopo">
			<div class="container">
				<div class="row boxRowQuantoSalvei">
					<div class="col-xs-12 form-group">
						<div class="row">					
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12">
										<span class="titleCardQuantoSalvei">
											Frontera
										</span>
									</div>
									<div class="col-xs-12">
										<span class="subTitleCardQuantoSalvei">
											Sulacap
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6 noPadding boxQuantoSalvei">
								<div class="row">
									<div class="col-xs-12">
										<span class="btnQuantoSalvei">
											R$ 200,00 Salvos
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row boxRowQuantoSalvei">
					<div class="col-xs-12 form-group">
						<div class="row">					
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12">
										<span class="titleCardQuantoSalvei">
											Frontera
										</span>
									</div>
									<div class="col-xs-12">
										<span class="subTitleCardQuantoSalvei">
											Sulacap
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6 noPadding boxQuantoSalvei">
								<div class="row">
									<div class="col-xs-12">
										<span class="btnQuantoSalvei">
											R$ 200,00 Salvos
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row boxRowQuantoSalvei">
					<div class="col-xs-12 form-group">
						<div class="row">					
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12">
										<span class="titleCardQuantoSalvei">
											Frontera
										</span>
									</div>
									<div class="col-xs-12">
										<span class="subTitleCardQuantoSalvei">
											Sulacap
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6 noPadding boxQuantoSalvei">
								<div class="row">
									<div class="col-xs-12">
										<span class="btnQuantoSalvei">
											R$ 200,00 Salvos
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>