﻿	<section>

		<div class="barraTopoAll">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2" ng-click="goComprarEcard()">
						<i class="fa fa-arrow-left"></i>
					</div>
					<div class="col-xs-10 noPadding">
						<span>Comprar E-card</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section>
		<div class="logoDefault">
			<img src="content/images/logoEcard.jpg">
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger text-center">
						DADOS PESSOAIS
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center colorDefault fontSize13">
					<b>Todos os campos são obrigatórios</b>
				</div>
			</div>
			<div class="row marginTop20">
				<div class="col-xs-12 text-center bordaBottom">
				</div>
			</div>
		</div>
	</section>

	<section class="marginTopo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Nome</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>CPF</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Data de nascimento</label>
					<input type="date" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label>Sexo</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<label><b>Você deve aceitar os termos e contrato</b></label>
				</div>
				<div class="col-xs-12 form-group">
					<label>
						<input type="checkbox">
						Concordo com o Contrato Virtual de adesão
					</label>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 form-group text-center">
					<span class="btn btn-default btn-block" ng-click="goComprarEcardEndereco()">CONTINUAR</span>
				</div>
			</div>
		</div>

	</section>