﻿<section>

	<div class="barraTopoAll">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2" ng-click="goComprarEcardPagamentoDebito()">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="col-xs-10 noPadding">
					<span>Compra confirmada</span>
				</div>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="container">
		<div class="logoConfirmaEmail">
			<img src="content/images/logo.jpg">
		</div>
	</div>
</section>

<section>

	<div class="container">

		<div class="textoConfirmaEmail text-center">
			<span>Rodrigo!</span>
			<span>assim que o seu banco responder</span>
			<span>a solicitação de débito na sua conta</span>
			<span>iremos te avisar</span>
			<span>Enquanto isso, você pode dar uma</span>
			<span>navegada no app, conhecer os</span>
			<span>estabelecimentos parceiros e ver</span>
			<span>o quanto de descontos te esperam</span>
		</div>

	</div>

</section>

<section class="btnConfirmaEmail">

	<div class="container text-center">

		<span class="btn btn-default btn-block" ng-click="goHome()">NAVEGAR</span>

	</div>

</section>